.title-aboutus {
  background: linear-gradient(180deg, rgba(250, 192, 94, 1) 35%, white 100%);
}

.about-me {
  margin: 5px;
  padding: 5px;
  border: 2px solid rgba(56, 44, 44, 0.842);
  background: linear-gradient(180deg, rgba(250, 192, 94, 1) 35%, white 100%);
  border-radius: 5px;
  color: var(--color2);
  min-width: 200px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 5px;
  box-shadow: 2px 2px (0, 0, 0, 0.7);
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.creators-page {
  color: #ff4a1c;
}

.img-aboutus {
  width: 400px;
  height: auto;
  margin: 0 auto;
}
